
@include respond-to( 768px ) {
	.sixty, .fourty, .quarter, .three-quarter, .third {
		float: left;
	}

	.sixty {
		width: 58%;
		margin-right: 4%;
	}

	.fourty {
		width: 38%;
	}

	.quarter {
		width: 23%;
	}

	.three-quarter {
		width: 73%;
		margin-right: 4%;
	}

	.third {
		width: 33.3%;
		padding: 0 15px;
	}
}
