
$blue: #243254;
$teal-dark: #017178;
$teal-light: #92D4D0;
$green: #9BBA67;
$red: #A61E2F;

@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.bg-container {
	@include respond-to( 768px ) {
		background: url(../img/bg-body.png) center center no-repeat;
		background-size: cover;
		padding-bottom: 40px;
	}
}



// wrap div
.wrap {
	max-width: 1220px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



// header stuffs
.header-large {
	display: none;

	h1 {
		background: $blue;
		padding: 15px;
		text-align: center;
		font-size: 24px;
		color: white;
	}

	@include respond-to( 500px ) { display: block; }

	@include respond-to( 1024px ) { border: 15px solid $blue; }

	@include respond-to( 1220px ) { margin-top: 40px; }
}

.header-small {
	@include respond-to( 500px ) { display: none; }
}


.header-small img, .header-large img { margin-bottom: -6px; }

.blue { background: $blue; }
.teal-dark { background: $teal-dark; }
.teal-light { background: $teal-light; }
.green { background: $green; }

.blue, .teal-dark, .teal-light, .green { color: white; }

// calculator styles
.calculators {
	
	@include respond-to( 768px ) { padding: 0 30px; }
	@include respond-to( 1220px ) { padding: 0; }

	.calculator {
		padding: 20px;
		color: white;

		@include respond-to( 768px ) {
			margin-top: 30px;
			border-radius: 25px;

			.third { 
				width: 30%;

				&.first {
					width: 40%;
				}
			}
		}

		h3 {
			text-align: center;

			@include respond-to( 768px ) {
				padding-top: 40px;
			}
		}

		.rate-display {
			@include clearfix;
			padding-bottom: 20px;

			.start, h2, .end {
				float: left;
			}

			.start {
				width: 22%;
				text-align: right;
				line-height: 18px;
			}
			
			h2 {
				width: 56%;
				font-size: 57px;
				line-height: 57px;
				padding: 0;
				text-align: center;
			}

			.end {
				width: 22%;
				line-height: 28px;
			}
		}
	}
}


.more-info {
	background: $teal-light;
	padding: 20px;
	text-align: center;
	border-bottom: 10px solid darken( $teal-dark, 15% );

	@include respond-to( 768px ) {
		margin-top: 30px;
		border-radius: 25px;
		border: 10px solid darken( $teal-dark, 15% );
	}
}



td .result {
	display: block;
	line-height: 1.2em;
}



.aside {
	background: $teal-light;
	position: relative;

	@include respond-to( 768px) { 
		margin-top: 30px; 
		border-radius: 25px;
		border: 10px solid darken( $teal-dark, 15% );
	}

	.pad {
		padding: 20px;
	}

	input[type=reset] {
		position: absolute;
		bottom: 15px;
		right: 15px;
		padding: 10px;
		font-size: 18px;
		line-height: 18px;
		border-radius: 10px;
		background: darken( $teal-light, 30% );
		border: 0;
		color: white;
	}
}


// footer styles
.red-bar {
	background: $red;
	padding: 0 20px 25px;

	h2, h4 {
		color: white;
	}

	h4 {
		padding-top: 40px;
	}

	.sixty, .fourty {
		text-align: center;
	}

	@include respond-to( 768px ) {
		padding-bottom: 0;
	}
}


footer.fineprint {
	padding: 20px;
	font-size: 90%;
	color: #777;

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}