
$teal: #188188;
$navy: #253354;
$green: #9BBA67;
$red: #ED2024;
$grey: #979B9F;

$link-color: $navy;

@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.bg-container {
	@include respond-to( 768px ) {
		background: url(../img/bg-body.jpg) center center no-repeat;
		background-size: cover;
		padding-bottom: 40px;
	}
}



// wrap div
.wrap {
	max-width: 1220px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}


// shade styles
.shade {
	@include respond-to( 768px ) {
		background: url(../img/ropes.png) center center no-repeat;
		background-size: cover;
		background-size: contain;
	}
}


// header stuffs
.header {
	max-width: 1024px;
	margin: 0 auto;

	h1 {
		background: white;
		padding: 15px 15px 5px 15px;
		text-align: center;
		font-size: 40px;
		line-height: 1em;
		color: black;
		@include font-title;
	}

	h2 {
		background: white;
		padding: 5px 20px 15px 20px;
		text-align: center;
		font-size: 30px;
		line-height: 1.3em;
		color: black;
	}

	@include respond-to( 768px ) { border: 15px solid $red; }

}




// calculator styles
.calculators {
	@include respond-to( 768px ) { padding: 0 30px; }
	@include respond-to( 1220px ) { padding: 0; }
	
	.main {
		@include respond-to( 1024px ) {
			padding: 0 20px;
			float: left;
			width: 65%;
		}

		.calculator {
			padding: 20px;
			background: white;

			@include respond-to( 768px ) {
				margin-top: 30px;
				border-radius: 25px;
				padding: 20px;

				&.red { border: 10px solid $red; }
				&.navy { border: 10px solid $navy; }
				&.teal { border: 10px solid $teal; }
				&.green { border: 10px solid $green; }

				.third { 
					width: 30%;

					&.first {
						width: 40%;
					}
				}
			}


			@include respond-to( 768px ) {
				&.credit, &.loan-auto, &.loan-personal {
					position: relative;
					padding: 20px 20px 20px 12%;

					&:before {						
						position: absolute;
						left: -30px;
						top: -30px;
						bottom: -30px;
						width: 30%;
						content: "";
					}
				}
				
				&.loan-auto:before {
					background: url(../img/sucker-auto.png) center center no-repeat;
				}
				
				&.loan-personal:before {
					background: url(../img/sucker-personal.png) center center no-repeat;
				}
				
				&.credit:before {
					background: url(../img/sucker-credit.png) center center no-repeat;
				}

				&.loan-personal:before, &.loan-auto:before, &.credit:before {
					background-size: contain;
				}
			}

		
			h3 {
				text-align: center;
				@include font-title;

				@include respond-to( 768px ) {
					padding-top: 30px;
				}
			}


			.rate-display {
				@include clearfix;
				padding-bottom: 20px;
				
				.start {
					display: block;
					text-align: center;
					font-size: 1.2em;
					padding: 0 0 10px 0;
				}

				h2, .end {
					float: left;
					@include font-title;
				}

				h2 {
					width: 60%;
					font-size: 60px;
					line-height: 1.2em;
					padding: 0 10px 0 0;
					text-align: right;

					@include respond-to( 768px ) { width: 78%; }
				}

				.end {
					width: 30%;
					font-size: 17px;
					line-height: 1.2em;

					span {
						font-size: 30px;
					}

					@include respond-to( 768px ) { width: 22%; }
				}
			}
		}
	}


	.aside {
		margin-top: 30px; 
		background: white;

		@include respond-to( 768px) { 
			border-radius: 25px;
			border: 10px solid black;
		}

		@include respond-to( 1024px ) {
			float: left;
			width: 32%;
			margin-left: 3%;

			&:after {
				content: " ";
				background: url(../img/lollipop.png) center center no-repeat;
				width: 200px;
				height: 425px;
				position: absolute;
				bottom: 50px;
				right: 60px;
			}
		}

		table {
			width: 100%;

			tr {
				td {
					vertical-align: middle;
					padding: 10px 20px;
					width: 45%;
					font-size: 15px;
					line-height: 17px;
					color: white;

					&.red-bg { background: $red; }
					&.navy-bg { background: $navy; }
					&.teal-bg { background: $teal; }

					&.label {
						@include font-title;
						font-size: 18px;
						line-height: 1.2em;
						width: 55%;
					}

					.result {
						font-size: 1.6em;
					}
				}
			}
		}

		.pad {
			padding: 20px;
		}

		.center {
			text-align: center;
		}

		h3 {
			@include font-title;
			text-align: center;
		}

		input[type=reset], .button {
			display: block;
			padding: 10px;
			font-size: 18px;
			line-height: 18px;
			border-radius: 10px;
			background: $grey;
			border: 0;
			color: white;
			text-align: center;
			width: 100%;
		}

		.button {
			background: $red;
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 5px;
		}
	}
	
}


.more-info {
	padding: 20px 20px 0;
	text-align: center;
	position: relative;
	background: white;
	color: black;

	@include respond-to( 768px ) {
		padding: 20px 20px 20px 15%;
		margin-top: 30px;
		border-radius: 25px;
		border: 10px solid $green;

		&:before {
			position: absolute;
			left: -30px;
			top: -30px;
			bottom: -30px;
			width: 30%;
			content: "";
			background: url(../img/sucker-home.png) center center no-repeat;
			background-size: contain;
		}
	}

	h3 {
		@include font-title;
		line-height: 1.3em;
		padding: 7px 0;
	}

	p {
		line-height: 1.3em;
		padding: 7px 0;
	}

}



td .result {
	display: block;
	line-height: 1.2em;
}



// footer styles
.footer-bar {
	@include font-title;
	background: $navy;
	color: white;
	padding: 30px;
	text-align: center;

	h2 {
		font-size: 24px;
		line-height: 1.2em;
	}

	h3 {
		font-size: 20px;
		line-height: 1.2em;
	}
}


footer.fineprint {
	padding: 20px;
	font-size: 90%;
	color: #777;

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}


